<h2>Links</h2>
<ul>
    <li>
      <a href="/movies">PELIÍCULAS</a>
    </li>
    <li>
      <a href="/genres">GENEROS</a>
    </li>
    <li>
      <a href="/actors">ACTORES</a>
    </li>
    <li>
        <a href="/movies/recommended">RECOMENDADAS</a>
    </li>
    <li>
        <a href="/movies/new">NUEVAS</a>
    </li>
  </ul>